@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "American-Typer-Regular";
    src: url(./fonts/American-Typer-Regular\ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo-site: #F3F2F2;
    --dourado: #DAA520;
    --caramelo: #9D5623;
    --bege: #C89C7C;
    --verde: #70a800;
}


.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

#sobre {
    padding: 60px 100px;
    text-align: center;
    max-width: 3500px;
    margin: 0 auto;
    border-bottom: 2px solid #00000050;
    /* linha embaixo */
    padding-bottom: 150px;
    /* espaço entre o texto e a linha */
}


#sobre h2 {
    font-size: 40px;
    margin-bottom: 20px;
    /* reduzido para ficar igual ao modelo */
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: relative;
    display: inline-block;
    /* deixa a linha do tamanho do título */
    padding-bottom: 10px;
    /* distância entre texto e linha */
}

#sobre h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: #000;
    opacity: 0.5;
}


#sobre p {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.35;
    max-width: 900px;
    margin: 0 auto;
}




/* ----------- menu ----------- */

header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header img {
    width: 100px;
}

.menu {
    max-width: 800px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 20px;
    color: var(--preto);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.menu a:hover {
    color: var(--verde);
}

#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}


/* -----------------------banner/icones--------------- */

.banner {
    min-height: 120vh;
    background-image: url(./img/Do\ forno\ ao\ coração\,.jpg);
    background-repeat: no-repeat;
    background-position: center 170px;
    background-size: 102%;

}

.icones-header {
    display: flex;
    gap: 20px;
    /* distância entre os ícones */
}

.icones-header img {
    width: 35px;
    /* ajuste o tamanho dos ícones */
    height: auto;
    cursor: pointer;
}



@media screen and (max-width:1024px) {
    #sombra {
        background-color: var(--caramelo);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;
        background: none;
        border: none;
        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--cafe);
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;
        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--preto);
    }
}

.icones-header img {
    width: 55px;
    padding: 5px;
    border-radius: 8px;
    transition: .3s ease;
}

.icones-header img:hover {
    background-color: #00000010;
    transform: scale(1.1);
}

.parallax {
    background-image: url("img/dograoaopao.jpg");
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-final {
    background: #1a1a1a;
    padding: 60px 0 30px 0;
    color: #e8e8e8;
    font-family: "Montserrat", sans-serif;
}

.footer-cols {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1300px;
    margin: auto;
}

.footer-cols .col {
    width: 300px;
    text-align: center;
}

.footer-cols h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-social img {
    width: 35px;
    margin: 10px;
    opacity: .9;
    transition: .3s;
    filter: brightness(0) invert(1);
    /* deixa o ícone branco */
}

.footer-social img:hover {
    transform: scale(1.1);
    opacity: 1;
}


.copy {
    text-align: center;
    margin-top: 40px;
    opacity: .7;
    font-size: 16px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
    font-family: "Montserrat", sans-serif;
}

.form-container h2 {
    margin-bottom: 25px;
    font-size: 26px;
}

form input,
form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background: #00000015;
    outline: none;
}

form textarea {
    height: 120px;
    resize: none;
    border-radius: 18px;
}

form button {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: var(--caramelo);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

form button:hover {
    background: #7b431c;
}

#status {
    margin-top: 15px;
    font-size: 16px;
}

.card {
    background: #1a0d0c;
    padding: 25px;
    width: 300px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.cafe-grande {
    width: 230px;
    display: block;
    margin: 10px auto;
}

.thumbs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumb {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.thumb:hover {
    opacity: 1;
}

.thumb.active {
    opacity: 1;
    border: 2px solid white;
}


